html {
  margin: 0 0 0 0;
}

body {
  padding: 30px;
}

p {
  padding: 5px 0px;
}

ul, ol {
  margin: 0;
}

ul li {
  list-style: disc inside;
}

ol li {
  list-style: decimal inside;
}

#Main p a, #Nav a, #Nav strong, #publishDate, #projectVersion {
  padding: 2px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#Breadcrumbs {
  text-align: right;
}

#Content {
  padding: 10px;
}

#Gutter {
  padding-left: 210px;
}

#Content h1 , #Content h2 , #Content h3 , #Content h4 {
  padding-top: 20px;
  margin:0;
}

#Content th, #Content td {
  border-width: 2px;
  padding: 5px;
}

#Footer {
  margin-top: 25px;
  padding: 5px 0;
  text-align: center;
  clear: both;
}

#Frame {
  line-height:1.4;
  margin: 0 auto;
  background: #fff url(../images/frame_bottom.gif) no-repeat bottom left;
  border-width: 1px;
  border-color: #E5E5E5 #DBDBDB #D2D2D2;
  overflow: hidden;
  max-width: 1020px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
}

#Nav {
  width: 200px;
  float: left;
}

#Nav ul {
  margin-left: 0;
}

#Nav ul li ul {
  margin-left: 15px;
}

#Nav ul li {
  padding:1px 2px;
  text-align: left;
  list-style-type: none;
  display: block;
}

.source {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  padding: 1em;
}

.source pre {
    padding:0;
    margin:0;
    line-height:1.3;
}